.about-selection {
    padding: 120px;
    background: var(--light-pink-color);
}

.about-selection .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.about-selection .section-content .about-image{
    width: 400px;
    height: 400px;
    object-fit:cover ;
    border-radius: var(--border-radius-circle);
}